# Sheet 3 - Practical Exercise

In [76]:
#Import packages and Dataset
import numpy as np
import pandas as pd

fifa20 = pd.read_csv("C:\\Users\\HITES\\fifa20.csv")#Change path according to your files

Take the following SQL-Queries and use Pandas to achieve the same result.

### First Query
```sql
SELECT short_name, overall, value_eur, wage_eur 
FROM fifa_20 
WHERE overall > 80 and club = 'Borussia Dortmund'
```

In [77]:
#Recreate the first query with pandas
query1 = fifa20.loc[(fifa20["club"] == "Borussia Dortmund") & (fifa20["overall"] > 80), ["short_name","overall","value_eur","wage_eur"]]
print(query1)

       short_name  overall  value_eur  wage_eur
37        M. Reus       88   56000000    170000
49     M. Hummels       87   41000000    130000
88       R. Bürki       85   32000000     92000
102     A. Witsel       85   31500000    110000
108     J. Sancho       84   44500000     61000
118     J. Brandt       84   40500000     94000
170     M. Akanji       83   31000000     77000
186  Paco Alcácer       83   32000000    105000
270      M. Götze       82   26000000     98000
271    T. Delaney       82   23000000     82000
275     N. Schulz       82   22500000     82000
281     T. Hazard       82   26000000     90000
357  R. Guerreiro       81   21500000     79000
382   L. Piszczek       81    6000000     76000

### Second Query
```sql
SELECT short_name, overall 
FROM fifa_20 
WHERE club in ('Borussia Dortmund','FC Bayern München') and nationality = 'France'
```

In [78]:
#Recreate the second query with pandas
query2 = fifa20.loc[(fifa20["club"].isin(["Borussia Dortmund","FC Bayern München"])) & (fifa20["nationality"] == "France"), ["short_name","overall"]]
print(query2)

         short_name  overall
114    L. Hernández       84
119        K. Coman       84
166      C. Tolisso       83
588      D. Zagadou       79
597       B. Pavard       79
3302    M. Cuisance       72
15328   K. Bafounta       59

### Third Query
```sql
SELECT nationality, count(*) 
FROM fifa_20 
GROUP BY nationality 
ORDER BY count
```

In [79]:
#Recreate the third query with pandas
query3=fifa20.groupby(['nationality']).size().to_frame('size').reset_index().sort_values(['size'], ascending=[False]).rename(columns={'size': 'count(*)'})
print(query3)

     nationality  count(*)
45       England      1667
57       Germany      1216
136        Spain      1035
53        France       984
5      Argentina       886
..           ...       ...
96        Malawi         1
100    Mauritius         1
138     St Lucia         1
135  South Sudan         1
81        Jordan         1

[162 rows x 2 columns]

### Fourth Query
```sql
SELECT club, count(*) 
FROM fifa20 
WHERE potential > 85 
GROUP BY club having count(*) > 10
ORDER BY count(*) desc
```

In [83]:
#Recreate the fourth query with pandas
query4=fifa20[fifa20["potential"] > 85].groupby('club').filter(lambda g: len(g) > 10).groupby('club').size().to_frame('size').reset_index().sort_values(['size'],ascending=False).rename(columns={'size': 'count(*)'})
print(query4)

                  club  count(*)
5          Real Madrid        19
0         FC Barcelona        17
1    FC Bayern München        14
3      Manchester City        14
6    Tottenham Hotspur        13
2             Juventus        12
4  Paris Saint-Germain        11

### Fifth Query
For the last query we create two additional dataframes that you have to join

In [81]:
#Do NOT change this code 
player_values = fifa20[['short_name','club','age','height_cm','weight_kg']]
fifa_club = fifa20[['short_name','club','overall','potential']]

```sql
SELECT short_name, age, overall 
FROM player_values JOIN fifa_club on fifa_club.short_name = player_values.short_name
WHERE fifa_club.club == 'Borussia Dortmund'
```

In [82]:
#Recreate the fifth query with pandas
#player_values.merge(fifa_club[fifa_club.club == 'Borussia Dortmund'][['short_name']], left_on=player_values.short_name, right_on=fifa_club.short_name, how='inner')[['short_name', 'age', 'overall']]
df=pd.merge(player_values,fifa_club,on="short_name")
query5=df.loc[(df["club_y"] == "Borussia Dortmund") ,["short_name","age","overall"]]
print(query5)

           short_name  age  overall
48            M. Reus   30       88
63         M. Hummels   30       87
126          R. Bürki   28       85
151         A. Witsel   30       85
277         J. Sancho   19       84
290         J. Brandt   23       84
446         M. Akanji   23       83
470      Paco Alcácer   25       83
571          M. Götze   27       82
572        T. Delaney   27       82
576         N. Schulz   26       82
582         T. Hazard   26       82
708      R. Guerreiro   25       81
773       L. Piszczek   34       81
896          J. Weigl   23       80
1108        A. Hakimi   20       79
1111       D. Zagadou   20       79
1374        M. Dahoud   23       78
1651          M. Hitz   31       78
2481     M. Schmelzer   31       76
2634        J. Larsen   20       75
2636        J. Larsen   28       75
2772          M. Wolf   24       75
13084  E. Oelschlägel   23       65
13851     Mateu Morey   19       64
13855      L. Balerdi   20       64
17518       T. Raschl   19       60
17596       D. Wanner   20       60
18154     K. Bafounta   17       59
18167     L. Unbehaun   18       59
18717        A. Bakir   18       58
19197    P. Osterhage   19       57